<!DOCTYPE html>
<html>
<header>
  <title>Msc自动钓鱼</title>
</header>

<body>
  <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <div id='app'>
    <el-container>
      <el-header>
        <h2>Msc自动钓鱼</h2>
      </el-header>
      <el-main>
        <el-tabs v-model="activeName">
          <el-tab-pane label="日志" name="logs">
            <el-table :data="logsData" height=450px>
              <el-table-column label="时间" prop="time" width="100"></el-table-column>
              <el-table-column label="消息" prop="msg"></el-table-column>
            </el-table>
            <el-row :gutter="20">
              <el-col :span="22">
                <el-input v-model="msgForm.msg" type="text"></el-input>
              </el-col>
              <el-col :span="2">
                <el-button type="primary" v-on:click="onsubmit">发送</el-button>
              </el-col>
            </el-row>
          </el-tab-pane>
          <el-tab-pane label="设置" name="settings"></el-tab-pane>
        </el-tabs>
      </el-main>
    </el-container>
  </div>
  <script>
    var Main = {
      data() {
        return {
          activeName: 'logs',
          logsData: null,
          msgForm: {
            msg: ''
          }
        }
      },
      methods: {
        onsubmit(event) {
          ws.send(this.msgForm.msg)
          this.msgForm.msg = ""
        }
      }
    }
    const app = Vue.createApp(Main);
    app.use(ElementPlus);
    v = app.mount('#app')
    var ws = new WebSocket("ws://localhost:8080/ws")
    ws.onopen = function () {
      var d = new Date();
      v.logsData = [{
        time: d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds(),
        msg: "成功建立websocket连接"
      }]
    }
    ws.onmessage = function (event) {
      var rec = event.data
      v.logsData = v.logsData.concat(JSON.parse(rec))
    }
    ws.onclose = function (event) {
      var d = new Date();
      v.logsData.push({
        time: d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds(),
        msg: "websocket连接断开"
      })
    }
    ws.onerror = function (event) {
      console.log(event)
    }
  </script>
</body>

</html>